@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>This brothel exists because drew loves to bake bread.</p>
</div>

<div >
    <img src="imgs/breadone.jpg" height="300" />
    <img src="imgs/breadtwo.jpg" height="300" />
    <br/>
    <p>Examples of my work</p>
</div>
