@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DrewsBread Home</h1>
    <p>This website exists because drew loves to bake bread.</p>
</div>

<div >
    <img src="imgs/breadone.jpg" height="300" />
    <img src="imgs/breadtwo.jpg" height="300" />
    <br/>
    <p>Examples of my work</p>
    <br />
    <h2>How I got started</h2>
    <br />
    <p>When I was 13 years old, I moved to Belmont, Massachusetts into a ward where someone baked 
        homemade bread for the sacrament every single sunday. The bread was so declious that it was almost distracting as we 
        were trying to be reverant and think about Christ. Eventually, we got used to it and focused on what the sacrament is actually about.
        When we eventually moved away, it was hard not having such delicious bread so we contacted some folks, 
        got the recipe, and started making it ourselves. For the past 8 years or so, My family has been making that bread almost every sunday
        for snacking pleasure after church.
        <br /><br />
        When I eventually went to college, I did not have the equipment to make such delicious bread so I went a whole year without having it.
        It wasn't until my roommate obtained a dutch oven that I realized, "wait! I can make the belmont bread now!" So that is what I did. I started making the bread multiple times a week
        until I figured that it was good enough to share with others. I started bringing it to sacrament meeting and everyone loved it. I made the bread every sunday for
        my YSA ward for a whole year and even though I have moved out of that ward, whenever I see people from there they always remind
        me of how much they loved my bread. I still make it every once in a while but unfortunately I don't make it all that often for my new ward's sacrament meeting.
        
</div>
