@{
    ViewData["Title"] = "Buy Bread";
}
<h1>@ViewData["Title"]</h1>

<p>Learn how to make bread from me. I will give you my recipe and teach you for as many hours as you want. <br />Fill out the form below to get a quote.</p>

<form id="breadOrderForm">
    <label for="name">Name:</label><br />
    <input type="text" id="name" name="name" required>

    <br />
    <br />

    <label for="number">Phone Number:</label>
    <br />
    <input type="tel" id="number" name="number" pattern="[0-9]{10}" required>
    <br />
    <br />

    <label for="breadQuantity">Hours of Bread-Making Lessons</label>
    <br />
    <input type="number" id="breadQuantity" name="breadQuantity" min="2" value="2" required> Hours
    <br />
    <small>I charge $67.89/hour for my bread-making lessons. Why so expensive? "Teach a man to fish..."</small>
    <br />
    <br />

    <label for="address">Address:</label><br />
    <textarea id="address" name="address" rows="4" required></textarea>
    <br />
    <small>I will come to your house</small>
    
    <br />
    <br />

    <button id="submitbtn" type="submit">Place Order</button>
</form>